@import "_mixins.scss";

.topnav {
    @include display_flex;
    overflow: hidden;
    background-color: $back-color;
    padding: 10px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

    a {
        float: left;
        display: block;
        color: $nav-background-color;
        text-align: center;
        padding: 14px 50px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        background-color: $back-color;

        &:hover {
            color: $text-color;
        }

        &:active {
            color: $text-color;
        }
    }

    .icon {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    .topnav {
        @include display_block;
        overflow: hidden;
        float: left;
        background-color: $back-color;
        width: 100%;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        @include display_block;
        float: right;
        background-color: $back-color;
    }
}

@media screen and (max-width: 1120px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        @include display_block;
        float: none;
        text-align: left;
    }
}
